:root {
  --color-bg: #ffffff;
  --color-fg: #212225;
  --color-border: #e5e7eb;
  --color-link: #2563eb; /* blue-600 */
  --color-link-hover: #1d4ed8; /* blue-700 */
}

.dark {
  --color-bg: #212225;
  --color-fg: #e8eaed;
  --color-border: #444444;
  --color-link: #d1b3ff;
  --color-link-hover: #b698ff;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

.footer-link-normal {
  color: inherit !important;
}
